<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
           http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>MessageSendServlet</servlet-name>
        <servlet-class>sample.servlet.MessageSendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageSendServlet</servlet-name>
        <url-pattern>/send</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessageConsumerStartServlet</servlet-name>
        <servlet-class>sample.servlet.MessageConsumerStartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageConsumerStartServlet</servlet-name>
        <url-pattern>/consume-start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessageConsumerStopServlet</servlet-name>
        <servlet-class>sample.servlet.MessageConsumerStopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageConsumerStopServlet</servlet-name>
        <url-pattern>/consume-stop</url-pattern>
    </servlet-mapping>

    <distributable/>
</web-app>